@import url(main-variables.scss);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-light);
    font-family: 'Inter', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.8;
    font-weight: 500;
    font-size: 16px;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-x {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--light);
}

::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 5px;
}

body {
    display: flex;
    overflow: hidden;

    & .section_navigation {
        max-width: 200px;
        width: 100%;
        height: 100vh;
        background-color: var(--dark-blue);

        & .nav_main-navigation {
            padding: 30px 0;

            & .container_banner {
                padding: 0 20px;
                display: flex;
                margin: auto;
                align-items: center;
                justify-content: space-between;

                & img {
                    display: block;
                    margin-bottom: 20px;
                    max-width: 160px;
                }

                & #humberger-menu-nav {
                    visibility: hidden;
                    display: flex;
                    height: 50px;
                    position: relative;
                    padding: 8px;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 10px;
                    color: var(--light);
                    border: 1px solid var(--secondary-dark);
                    border-radius: 4px;
                    cursor: pointer;
    
                    & > div {
                        display: grid;
                        place-items: center;
                        position: relative;
                        background: transparent;
                        height: 4px;
                        width: 40px;
                        border-radius: 2px;
    
                        &::before, &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            background: var(--light);
                            height: 4px;
                            width: 40px;
                            border-radius: 2px;
                        }
    
                        &::before {
                            transform: rotate(-45deg);
                        }
    
                        &::after {
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            & .container_navigation {
                & > p {
                    padding: 0 20px;
                    color: var(--secondary-dark);
                    font-size: 12px;
                    font-weight: 500;
                }

                & > ul {
                    list-style-type: none;

                    & li {
                        display: flex;
                        align-items: center;

                        & i {
                            display: inline-block;
                            width: 25px;
                        }
                        
                        & a {
                            display: block;
                            padding: 15px 20px;
                            height: 100%;
                            width: 100%;
                            text-decoration: none;
                            color: var(--secondary-light);
                            font-size: 14px;

                            &.active {
                                background-color: var(--active-tab);
                            }
                        }
                    }
                }
            }
        }
    }

    & .section_main {
        position: relative;
        width: 100%;
        overflow-y: scroll;

        & header {
            display: flex;
            justify-content: space-between;
            position: sticky;
            top: 0;
            padding: 15px 30px;
            background-color: var(--dark);
            z-index: 1;

            & #humberger-menu-header {
                visibility: hidden;
                height: 50px;
                position: relative;
                display: flex;
                padding: 8px;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
                color: var(--light);
                border: 1px solid var(--secondary-dark);
                border-radius: 4px;
                cursor: pointer;

                & > div {
                    position: relative;
                    background: var(--light);
                    height: 4px;
                    width: 40px;
                    border-radius: 2px;

                    &::before, &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        background: var(--light);
                        height: 4px;
                        width: 40px;
                        border-radius: 2px;
                    }

                    &::before {
                        bottom: 10px;
                    }

                    &::after {
                        top: 10px;
                    }
                }
            }

            & .container-profile {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
                color: var(--light);

                & img {
                    display: block;
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                }

                & .container-label {
                    & > p {
                        line-height: 1.4;

                        &:nth-child(2) {
                            font-size: 12px;
                            font-weight: 400;
                        }

                        & > span {
                            display: inline-block;
                            height: 10px;
                            width: 10px;
                            background-color: var(--green);
                            border-radius: 5px;
                        }
                    }
                }

                & i {
                    cursor: pointer;
                }
            }

            & #signout {
                display: none;
                padding: 10px 20px;
                position: absolute;
                right: 30px;
                bottom: -50px;
                border: none;
                line-height: 1;
                box-shadow: 0px 0px 5px var(--gray);
                background-color: var(--light);
                border-radius: 5px;
                cursor: pointer;
            }
        }

        & main {
            margin: auto;
            max-width: 1400px;
            width: 95%;
            height: 100%;
            padding: 30px 0;

            & .container_main {
                & > h1 {
                    font-weight: 700;
                    margin-bottom: 15px;
                }

                & .container-tracking_order {
                    display: grid;
                    place-items: center;
                    padding: 40px;
                    width: 100%;
                    box-shadow: 0px 0px 5px var(--gray);
                    
                    & h1 {
                        margin-bottom: 40px;
                        font-size: 34px;
                        font-weight: 600;
                        text-align: center;
                        line-height: 1;
                    }

                    & .container_tracking-icons {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 20px;

                        & .container-icon {
                            position: relative;
                            display: flex;
                            width: 90px;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            transition: all 350ms ease;
                            cursor: pointer;

                            &:hover {
                                color: var(--purple);

                                & .icons {
                                    border: 2px solid var(--purple-lighten);
                                }
                            }

                            & .itemsNo {
                                position: absolute;
                                top: 0;
                                right: 5px;
                                display: grid;
                                place-items: center;
                                height: 24px;
                                width: 24px;
                                background-color: var(--red2);
                                color: var(--light);
                                line-height: 1;
                                border-radius: 12px;
                                font-size: 12px;
                                font-weight: 400;
                                text-shadow: 0 0 5px var(--dark);
                            }
                            
                            & .icons {
                                display: grid;
                                place-items: center;
                                height: 70px;
                                width: 70px;
                                border-radius: 35px;
                                border: 2px solid var(--dark);

                                & i {
                                    font-size: 34px;
                                }
                            }

                            & p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        position: relative;

        & .section_main header #humberger-menu-header {
            visibility: visible;
        }

        & .section_navigation {
            display: none;
            position: absolute;
            width: 100%;
            max-width: 100vw;
            z-index: 2;

            & .nav_main-navigation .container_banner #humberger-menu-nav {
                visibility: visible;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    body {
        & .section_main header .container-profile .container-label, & .section_main header .container-profile i {
            display: none;
        }
    }
}