@import url(main-variables.scss);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--primary-light);
  font-family: 'Inter', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.8;
  font-weight: 500;
  font-size: 16px;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-x {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--light);
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 5px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

body .section_navigation {
  max-width: 200px;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-blue);
}

body .section_navigation .nav_main-navigation {
  padding: 30px 0;
}

body .section_navigation .nav_main-navigation .container_banner {
  margin: auto;
}

body .section_navigation .nav_main-navigation .container_banner img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  max-width: 160px;
}

body .section_navigation .nav_main-navigation .container_navigation > p {
  padding: 0 20px;
  color: var(--secondary-dark);
  font-size: 12px;
  font-weight: 500;
}

body .section_navigation .nav_main-navigation .container_navigation > ul {
  list-style-type: none;
}

body .section_navigation .nav_main-navigation .container_navigation > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .section_navigation .nav_main-navigation .container_navigation > ul li i {
  display: inline-block;
  width: 25px;
}

body .section_navigation .nav_main-navigation .container_navigation > ul li a {
  display: block;
  padding: 15px 20px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--secondary-light);
  font-size: 14px;
}

body .section_navigation .nav_main-navigation .container_navigation > ul li a.active {
  background-color: var(--active-tab);
}

body .section_main {
  position: relative;
  width: 100%;
  overflow-y: scroll;
}

body .section_main header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 15px 30px;
  background-color: var(--dark);
  z-index: 1;
}

body .section_main header .container-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--light);
}

body .section_main header .container-profile img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

body .section_main header .container-profile .container-label > p {
  line-height: 1.4;
}

body .section_main header .container-profile .container-label > p:nth-child(2) {
  font-size: 12px;
  font-weight: 400;
}

body .section_main header .container-profile .container-label > p > span {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: var(--green);
  border-radius: 5px;
}

body .section_main header .container-profile i {
  cursor: pointer;
}

body .section_main header #signout {
  display: none;
  padding: 10px 20px;
  position: absolute;
  right: 30px;
  bottom: -50px;
  border: none;
  line-height: 1;
  -webkit-box-shadow: 0px 0px 5px var(--gray);
          box-shadow: 0px 0px 5px var(--gray);
  background-color: var(--light);
  border-radius: 5px;
  cursor: pointer;
}

body .section_main main {
  margin: auto;
  max-width: 1400px;
  width: 100%;
  height: 90vh;
  padding: 30px 50px;
}

body .section_main main .container_main > h1 {
  font-weight: 700;
  margin-bottom: 15px;
}

body .section_main main .container_main .container-tracking_order {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 40px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px var(--gray);
          box-shadow: 0px 0px 5px var(--gray);
}

body .section_main main .container_main .container-tracking_order h1 {
  margin-bottom: 40px;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
}

body .section_main main .container_main .container-tracking_order .container_tracking-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

body .section_main main .container_main .container-tracking_order .container_tracking-icons .container-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
}

body .section_main main .container_main .container-tracking_order .container_tracking-icons .container-icon:hover {
  color: var(--purple);
}

body .section_main main .container_main .container-tracking_order .container_tracking-icons .container-icon:hover .icons {
  border: 2px solid var(--purple-lighten);
}

body .section_main main .container_main .container-tracking_order .container_tracking-icons .container-icon .itemsNo {
  position: absolute;
  top: 0;
  right: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 24px;
  width: 24px;
  background-color: var(--red2);
  color: var(--light);
  line-height: 1;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 400;
  text-shadow: 0 0 5px var(--dark);
}

body .section_main main .container_main .container-tracking_order .container_tracking-icons .container-icon .icons {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  border: 2px solid var(--dark);
}

body .section_main main .container_main .container-tracking_order .container_tracking-icons .container-icon .icons i {
  font-size: 34px;
}

body .section_main main .container_main .container-tracking_order .container_tracking-icons .container-icon p {
  font-size: 14px;
}
/*# sourceMappingURL=admin-tracking_order.css.map */