@import url(main-variables.scss);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-light);
    font-family: 'Inter', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.8;
    font-weight: 500;
    font-size: 16px;
}

body {
    background-color: var(--dark-blue);

    & .section_signup {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

        & .container_signup {
            margin: auto;
            max-width: 400px;
            width: 98%;

            & h1 {
                margin-bottom: 30px;
                width: 100%;
                font-size: 34px;
                font-weight: 700;
                color: var(--light);
                text-align: center;

                & span {
                    font-size: inherit;
                    font-weight: inherit;
                    color: var(--yellow);
                    line-height: inherit;
                }
            }

            & form {
                & label {
                    display: block;
                    margin-bottom: 10px;
    
                    & p {
                        font-size: 12px;
                        color: var(--light);
                        font-weight: 200;
                    }
    
                    & input[type="text"] {
                        max-width: 420px;
                        width: 100%;
                        padding: 5px 15px;
                        border-radius: 5px;
                        border: none;
                        color: var(--dark);
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }

            & button {
                margin: 10px 0 0 0;
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                border: none;
                font-size: 14px;
                color: var(--light);
                cursor: pointer;
                transition: all 350ms ease;

                &#btn-reset-password {
                    background-color: var(--blue);

                    &:hover {
                        background-color: var(--blue-darken);
                    }
                }
            }
        }
    }
}