@import url(main-variables.scss);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--primary-light);
  font-family: 'Inter', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.8;
  font-weight: 500;
  font-size: 16px;
}

body {
  background-color: var(--dark-blue);
  margin: auto;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

body .section_signup {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
}

body .section_signup .container_signup {
  max-width: 400px;
  width: 98%;
  padding: 40px 0;
}

body .section_signup .container_signup .container_validation {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 15px;
  background-color: var(--red3);
  border-radius: 5px;
}

body .section_signup .container_signup .container_validation > p {
  color: var(--light);
  font-weight: 400;
  font-size: 14px;
}

body .section_signup .container_signup .container_title {
  margin-bottom: 30px;
}

body .section_signup .container_signup .container_title h1 {
  width: 100%;
  font-size: 34px;
  font-weight: 700;
  color: var(--light);
  text-align: center;
  line-height: 1;
}

body .section_signup .container_signup .container_title h1 span {
  font-size: inherit;
  font-weight: inherit;
  color: var(--yellow);
  line-height: inherit;
}

body .section_signup .container_signup .container_title > p {
  font-size: 14px;
  color: var(--gray);
  text-align: center;
  font-weight: 400;
}

body .section_signup .container_signup form .container_name, body .section_signup .container_signup form .container_password, body .section_signup .container_signup form .container_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

body .section_signup .container_signup form label {
  display: block;
  margin-bottom: 10px;
}

body .section_signup .container_signup form label p {
  font-size: 12px;
  color: var(--light);
  font-weight: 200;
}

body .section_signup .container_signup form label input[type="text"], body .section_signup .container_signup form label input[type="password"] {
  max-width: 420px;
  width: 100%;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  color: var(--dark);
  font-weight: 400;
  font-size: 14px;
}

body .section_signup .container_signup form label input[type=password]::-ms-reveal, body .section_signup .container_signup form label input[type=password]::-ms-clear {
  display: none;
}

body .section_signup .container_signup form label .new_password, body .section_signup .container_signup form label .confirm_password {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section_signup .container_signup form label .new_password #eye-password, body .section_signup .container_signup form label .new_password #eye-confirm-password, body .section_signup .container_signup form label .confirm_password #eye-password, body .section_signup .container_signup form label .confirm_password #eye-confirm-password {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 13px;
  color: var(--gray);
  cursor: pointer;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

body .section_signup .container_signup form label .new_password #eye-password:hover, body .section_signup .container_signup form label .new_password #eye-confirm-password:hover, body .section_signup .container_signup form label .confirm_password #eye-password:hover, body .section_signup .container_signup form label .confirm_password #eye-confirm-password:hover {
  color: var(--dark);
}

body .section_signup .container_signup form button {
  margin: 10px 0 0 0;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  color: var(--light);
  cursor: pointer;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

body .section_signup .container_signup form button i {
  line-height: 1;
}

body .section_signup .container_signup form button:nth-child(1) {
  background-color: var(--red2);
}

body .section_signup .container_signup form button:nth-child(1):hover {
  background-color: var(--red3);
}

body .section_signup .container_signup form button:nth-child(2) {
  background-color: var(--blue);
}

body .section_signup .container_signup form button:hover {
  background-color: var(--blue-darken);
}

body .section_signup .container_signup form .container_account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .section_signup .container_signup form .container_account_create p, body .section_signup .container_signup form .container_account_forgot p {
  color: var(--gray);
  font-weight: 300;
  font-size: 12px;
}

body .section_signup .container_signup form .container_account_create p a, body .section_signup .container_signup form .container_account_forgot p a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

body .section_signup .container_signup form .container_account_create p a:hover, body .section_signup .container_signup form .container_account_forgot p a:hover {
  color: var(--yellow);
}

@media only screen and (max-width: 425px) {
  body .section_signup .container_signup {
    margin: auto;
    width: 95%;
  }
  body .section_signup .container_signup form .container_name, body .section_signup .container_signup form .container_password, body .section_signup .container_signup form .container_button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}
/*# sourceMappingURL=signup.css.map */