<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kathline Araya Talavera, Arigadas Kimmy, Sheanne Samali">
    <meta name="description" content="">
    <link rel="stylesheet" href="../css/navigation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <!-- <link rel="icon" type="image/any-icon" href="images/burgerhub.ico"> -->
    <title>Inventory System</title>
  </head>
  <body>
    <section class="section_navigation">
      <nav class="nav_main-navigation">
        <div class="container_banner">
            <img src="../images/banner1.jpg" alt="mukbang101 image banner">
        </div>
        <div class="container_navigation">
            <p>MAIN NAVIGATION</p>
            <ul>
                <li class="active"><a href="" aria-label="dashboard-link"><i class="fa-solid fa-gauge-high"></i> Dashboard</a></li>
                <li><a href="" aria-label="product-link"><i class="fa-brands fa-product-hunt"></i> Product</a></li>
                <li><a href="" aria-label="sales-link"><i class="fa-solid fa-file-circle-check"></i> Sales Report</a></li>
                <li><a href="" aria-label="transaction-link"><i class="fa-solid fa-peso-sign"></i> Transaction</a></li>
                <li><a href="" aria-label="supplier-link"><i class="fa-solid fa-truck-ramp-box"></i> Supplier</a></li>
                <li><a href="" aria-label="tracking-link"><i class="fa-solid fa-truck-field"></i> Tracking Order</a></li>
                <li><a href="" aria-label="account-link"><i class="fa-solid fa-user-gear"></i> Account</a></li>
            </ul>
        </div>
      </nav>
    </section>
    <section class="section_main">
        <header>
            <div class="container-profile">
                <img src="../images/admin.jpg" alt="admin profile">
                <div class="container-label">
                    <p>Administrator</p>
                    <p><span></span> Online</p>
                </div>
                <i class="fa-solid fa-caret-down"></i>
            </div>
        </header>
        <main>
            <div class="container_main">
                <div class="container_records">
                    <h1>Dashboard</h1>
                    <div class="container_card">
                        <div class="card">
                            <div class="container-icon">
                                <i class="fa-solid fa-truck-ramp-box"></i>
                            </div>
                            <div class="value">
                                <p class="amount">999</p>
                                <p class="label">Total Suppliers</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="container-icon">
                                <i class="fa-solid fa-boxes-stacked"></i>
                            </div>
                            <div class="value">
                                <p class="amount">999</p>
                                <p class="label">Total Stocks</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="container-icon">
                                <i class="fa-solid fa-money-bill-transfer"></i>
                            </div>
                            <div class="value">
                                <p class="amount">999</p>
                                <p class="label">Total Transactions</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container_tables">
                    <div class="stock_table">
                        <h1>Stock per item</h1>
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product Code</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>21312312312</td>
                                        <td>Item 1</td>
                                        <td>Category 1</td>
                                        <td>201</td>
                                    </tr>
                                    <tr>
                                        <td>21312312312</td>
                                        <td>Item 1</td>
                                        <td>Category 1</td>
                                        <td>201</td>
                                    </tr>
                                    <tr>
                                        <td>21312312312</td>
                                        <td>Item 1</td>
                                        <td>Category 1</td>
                                        <td>201</td>
                                    </tr>
                                    <tr>
                                        <td>21312312312</td>
                                        <td>Item 1</td>
                                        <td>Category 1</td>
                                        <td>201</td>
                                    </tr>
                                    <tr>
                                        <td>21312312312</td>
                                        <td>Item 1</td>
                                        <td>Category 1</td>
                                        <td>201</td>
                                    </tr>
                                    <tr>
                                        <td>21312312312</td>
                                        <td>Item 1</td>
                                        <td>Category 1</td>
                                        <td>201</td>
                                    </tr>
                                    <tr>
                                        <td>21312312312</td>
                                        <td>Item 1</td>
                                        <td>Category 1</td>
                                        <td>201</td>
                                    </tr>
                                    <tr>
                                        <td>21312312312</td>
                                        <td>Item 1</td>
                                        <td>Category 1</td>
                                        <td>201</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="transaction_table">
                        <h1>List of transaction</h1>
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Transaction No.</th>
                                        <th>Supplier</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Total Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12/12/12</td>
                                        <td>06321350482</td>
                                        <td>Lucky Me</td>
                                        <td>Pancit Canton</td>
                                        <td>120</td>
                                        <td>Php 1,200</td>
                                    </tr>
                                    <tr>
                                        <td>12/12/12</td>
                                        <td>06321350482</td>
                                        <td>Lucky Me</td>
                                        <td>Pancit Canton</td>
                                        <td>120</td>
                                        <td>Php 1,200</td>
                                    </tr>
                                    <tr>
                                        <td>12/12/12</td>
                                        <td>06321350482</td>
                                        <td>Lucky Me</td>
                                        <td>Pancit Canton</td>
                                        <td>120</td>
                                        <td>Php 1,200</td>
                                    </tr>
                                    <tr>
                                        <td>12/12/12</td>
                                        <td>06321350482</td>
                                        <td>Lucky Me</td>
                                        <td>Pancit Canton</td>
                                        <td>120</td>
                                        <td>Php 1,200</td>
                                    </tr>
                                    <tr>
                                        <td>12/12/12</td>
                                        <td>06321350482</td>
                                        <td>Lucky Me</td>
                                        <td>Pancit Canton</td>
                                        <td>120</td>
                                        <td>Php 1,200</td>
                                    </tr>
                                    <tr>
                                        <td>12/12/12</td>
                                        <td>06321350482</td>
                                        <td>Lucky Me</td>
                                        <td>Pancit Canton</td>
                                        <td>120</td>
                                        <td>Php 1,200</td>
                                    </tr>
                                    <tr>
                                        <td>12/12/12</td>
                                        <td>06321350482</td>
                                        <td>Lucky Me</td>
                                        <td>Pancit Canton</td>
                                        <td>120</td>
                                        <td>Php 1,200</td>
                                    </tr>
                                    <tr>
                                        <td>12/12/12</td>
                                        <td>06321350482</td>
                                        <td>Lucky Me</td>
                                        <td>Pancit Canton</td>
                                        <td>120</td>
                                        <td>Php 1,200</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="../js/navigation.js"></script>
  </body>
</html>